<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CyberLearn Dressing Room</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <!-- Tailwind CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.0/tailwind.min.css" integrity="sha512-ksC7McuoU4VJ07WGtca5INyDRXzGsmhyEEJYzoWBkjC/KwuG+IK/pFnxJFNIGmOd8pmGexOxd3FziCPZXQJ4lA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./../assets/css/style.css" />
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <div class="card">
            <div class="text-center">
              <img src="./../assets/images/cybersoft.png" alt="Card image" />
            </div>

            <div class="card-body">
              <h4 class="card-title text-center">
                CyberLearn - Học lập trình trực tuyến - Dự án thử đồ trực tuyến
                - Virtual Dressing Room
              </h4>
            </div>
          </div>
          <hr />
        </div>
      </div>
      <!-- TẠO MENU TAB -->
      <!-- B1. Tạo menu tab bằng row, col, ul, li, button -->
      <!-- B2. Tạo id cho từng button để đổi css -->
      <!-- B3. Tạo onclick cho từng button để khi ấn vào sẽ hiển bảng -->
      <!-- B4. Tạo nội dung bảng bằng div (chứa table), table, tr, td -->
      <!-- B5. Tạo class content cho từng div, xem bên style css -->
      <!-- B6. Tạo id content cho từng div, xem bên style css -->

      <div class="row">
        <div class="col-md-8 hero">
          <ul class="nav nav-pills">
            <!-- <tr> -->
              <li><button id="btn1" class="text-primary px-4 py-2" onclick="openShirt()">Áo</button></li>
              <li><button id="btn2" class="text-primary px-4 py-2" onclick="openSkirt()">Váy</button></li>
              <li><button id="btn3" 
              class="text-primary px-4 py-2" onclick="openShoe()">Giày dép</button></li>
              <li><button id="btn4" class="text-primary px-4 py-2" onclick="openHbag()">Túi xách</button></li>
              <li><button id="btn5" onclick="openNeckplace()" class="text-primary px-4 py-2">Dây chuyền</button></li>
              <li><button id="btn6" class="text-primary px-4 py-2" onclick="onHairStyle()">Kiểu tóc</button></li>
              <li><button id="btn7" class="text-primary px-4 py-2" onclick="onBackground()">Hình nền</button></li>
              <li><button id="btn8" class="text-primary px-4 py-2" onclick="onModel()">Khuôn mặt</button></li>
            <!-- </tr> -->
          </ul>
          <div class="content" id="content1">
            <table>
              <tr>
                <td>
                    <img src="../assets/images/clothes/topcloth1_show.jpg" alt="">
                    <p class="text-center">Top cloth 1</p>
                    <button onclick="clickShirt1()" class="btn btn-success">Thử áo</button>
                </td>
                <td>
                    <img src="../assets/images/clothes/topcloth2_show.jpg" alt="">
                    <p class="text-center">Top cloth 2</p>
                    <button onclick="clickShirt2()" class="btn btn-success">Thử áo</button>
                </td>
                <td>
                    <img src="../assets/images/clothes/topcloth3_show.jpg" alt="">
                    <p class="text-center">Top cloth 3</p>
                    <button onclick="clickShirt3()" class="btn btn-success">Thử áo</button>
                </td>
                <td>
                  <img src="../assets/images/clothes/topcloth4_show.jpg" alt="">
                  <p class="text-center">Top cloth 4</p>
                  <button onclick="clickShirt4()" class="btn btn-success align-content-center">Thử áo</button>
                </td>
                <td>
                  <img src="../assets/images/clothes/topcloth5_show.jpg" alt="">
                  <p class="text-center">Top cloth 5</p>
                  <button onclick="clickShirt5()" class="btn btn-success">Thử áo</button>
                </td>
              </tr>
              <tr>
                <td>
                    <img src="../assets/images/clothes/topcloth6_show.jpg" alt="">
                    <p class="text-center">Top cloth 6</p>
                    <button onclick="clickShirt6()" class="btn btn-success">Thử áo</button>
                </td>
              </tr>
            </table>
          </div>
          <div class="content" id="content2">
            <table>
              <tr>
                <td>
                    <img src="../assets/images/clothes/botcloth1_show.jpg" alt="">
                    <p class="text-center">Bot cloth 1</p>
                    <button class="btn btn-success" onclick="clickSkirt1()">Thử váy</button>
                </td>
                <td>
                    <img src="../assets/images/clothes/botcloth2_show.jpg" alt="">
                    <p class="text-center">Bot cloth 2</p>
                    <button class="btn btn-success" onclick="clickSkirt2()">Thử váy</button>
                </td>
                <td>
                    <img src="../assets/images/clothes/botcloth3_show.jpg" alt="">
                    <p class="text-center">Bot cloth 3</p>
                    <button class="btn btn-success" onclick="clickSkirt3()">Thử váy</button>
                </td>
                <td>
                    <img src="../assets/images/clothes/botcloth4_show.jpg" alt="">
                    <p class="text-center">Bot cloth 4</p>
                    <button class="btn btn-success align-content-center" onclick="clickSkirt4()">Thử váy</button>
                </td>
                <td>
                    <img src="../assets/images/clothes/botcloth5_show.jpg" alt="">
                    <p class="text-center">Bot cloth 5</p>
                    <button class="btn btn-success" onclick="clickSkirt5()">Thử váy</button>
                </td>
              </tr>
            </table>
          </div>
          <div class="content" id="content3">
            <table>
              <tr>
                <td>
                    <img src="../assets/images/shoes/shoes1_show.jpg">
                    <p class="text-center">Shoe 1</p>
                    <button class="btn btn-success" onclick="clickShoe1()">Thử giày</button>
                </td>
                <td>
                    <img src="../assets/images/shoes/shoes2_show.jpg" alt="">
                    <p class="text-center">Shoe 2</p>
                    <button class="btn btn-success" onclick="clickShoe2()">Thử giày</button>
                </td>
                <td>
                    <img src="../assets/images/shoes/shoes3_show.jpg" alt="">
                    <p class="text-center">Shoe 3</p>
                    <button class="btn btn-success" onclick="clickShoe3()">Thử giày</button>
                </td>
                <td>
                    <img src="../assets/images/shoes/shoes4_show.jpg" alt="">
                    <p class="text-center">Shoe 4</p>
                    <button class="btn btn-success align-content-center" onclick="clickShoe4()">Thử giày</button>
                </td>
                <td>
                    <img src="../assets/images/shoes/shoes5_show.jpg" alt="">
                    <p class="text-center">Shoe 5</p>
                    <button class="btn btn-success" onclick="clickShoe5()">Thử giày</button>
                </td>
              </tr>
            </table>
          </div>
          <div class="content" id="content4">
            <table>
              <tr>
                <td>
                    <img src="../assets/images/handbags/handbag1_show.jpg ">
                    <p class="text-center">Handbag 1</p>
                    <button class="btn btn-success" onclick="clickHbag1()">Thử túi</button>
                </td>
                <td>
                    <img src="../assets/images/handbags/handbag2_show.jpg " alt="">
                    <p class="text-center">Handbag 2</p>
                    <button class="btn btn-success" onclick="clickHbag2()">Thử túi</button>
                </td>
                <td>
                    <img src="../assets/images/handbags/handbag3_show.jpg " alt="">
                    <p class="text-center">Handbag 3</p>
                    <button class="btn btn-success" onclick="clickHbag3()">Thử túi</button>
                </td>
              </tr>
            </table>
          </div>
          <div class="content" id="content5">
            <table>
              <tr>
                <td>
                    <img src="../assets/images/necklaces/necklace1_show.jpg ">
                    <p class="text-center">Necklace 1</p>
                    <button class="btn btn-success" onclick="clickNelace1()">Thử dây chuyền</button>
                </td>
                <td>
                    <img src="../assets/images/necklaces/necklace2_show.jpg " alt="">
                    <p class="text-center">Necklace 2</p>
                    <button class="btn btn-success" onclick="clickNelace2()">Thử dây chuyền</button>
                </td>
                <td>
                    <img src="../assets/images/necklaces/necklace3_show.jpg " alt="">
                    <p class="text-center">Necklace 3</p>
                    <button class="btn btn-success" onclick="clickNelace3()">Thử dây chuyền</button>
                </td>
              </tr>
            </table>
          </div>
          <div class="content" id="content6">
            <table>
              <tr>
                <td>
                    <img src="../assets/images/hairstyle/hairstyle1_show.jpg">
                    <p class="text-center">Hairstyle 1</p>
                    <button class="btn btn-success" onclick="clickHStyle1()">Thử kiểu tóc</button>
                </td>
                <td>
                    <img src="../assets/images/hairstyle/hairstyle2_show.jpg" alt="">
                    <p class="text-center">Hairstyle 2</p>
                    <button class="btn btn-success" onclick="clickHStyle2()">Thử kiểu tóc</button>
                </td>
                <td>
                    <img src="../assets/images/hairstyle/hairstyle3_show.jpg" alt="">
                    <p class="text-center">Hairstyle 3</p>
                    <button class="btn btn-success" onclick="clickHStyle3()">Thử kiểu tóc</button>
                </td>
              </tr>
            </table>
          </div>
          <div class="content" id="content7">
            <table>
              <tr>
                <td>
                    <img src="../assets/images/background/background1_show.jpg">
                    <p class="text-center">Background 1</p>
                    <button class="btn btn-success" onclick="clickBground1()">Thử hình nền</button>
                </td>
                <td>
                    <img src="../assets/images/background/background2_show.jpg" alt="">
                    <p class="text-center">Background 2</p>
                    <button class="btn btn-success" onclick="clickBground2()">Thử hình nền</button>
                </td>
                <td>
                    <img src="../assets/images/background/background3_show.jpg" alt="">
                    <p class="text-center">Background 3</p>
                    <button class="btn btn-success" onclick="clickBground3()">Thử hình nền</button>
                </td>
                <td>
                  <img src="../assets/images/background/background4_show.jpg" alt="">
                  <p class="text-center">Background 4</p>
                  <button class="btn btn-success" onclick="clickBground4()">Thử hình nền</button>
              </td>
            </tr>
            <tr>
              <td>
                  <img src="../assets/images/background/background5_show.jpg" alt="">
                  <p class="text-center">Background 5</p>
                  <button class="btn btn-success" onclick="clickBground5()">Thử hình nền</button>
                </td>
              <td>
                  <img src="../assets/images/background/background6_show.jpg" alt="">
                  <p class="text-center">Background 6</p>
                  <button class="btn btn-success" onclick="clickBground6()">Thử hình nền</button>
              </td>
              <td>
                <img src="../assets/images/background/background7_show.jpg" alt="">
                <p class="text-center">Background 7</p>
                <button class="btn btn-success" onclick="clickBground7()">Thử hình nền</button>
              </td>
              </tr>
            </table>
          </div>
          <div class="content" id="content8">
            <table>
              <tr>
                <td>
                    <img src="../assets/images/model/1000.png" class="w-1/4 modelImg">
                    <p class="textC8">Model 1</p>
                    <button class="btn btn-success" onclick="clickModel1()">Thử khuôn mặt</button>
                </td>
                <td>
                    <img src="../assets/images/model/1003.png" alt="" class="w-1/4 modelImg">
                    <p class="textC8">Model 2</p>
                    <button class="btn btn-success" onclick="clickModel2()">Thử khuôn mặt</button>
                </td>
                <td>
                    <img src="../assets/images/model/999.png" alt="" class="w-1/4 modelImg">
                    <p class="textC8">Model 3</p>
                    <button class="btn btn-success" onclick="clickModel3()">Thử khuôn mặt</button>
                </td>
            </tr>
            </table>
          </div>
          <!-- KHI ẤN VÀO SẼ THỬ ĐỒ MẪU -->
          <!-- B1. Tạo onclick cho từng nút thử đồ (nếu thay đổi thuộc tính màu sắc thì tạo id cho nút).
           -->
          <!-- B2. Tạo thẻ div cho từng hình ảnh, để hình vào giữa thẻ div cần hiện trên giao diện.
          -->
          <!-- B3. Phải chọn ĐÚNG VỊ TRÍ để đặt hình ảnh. -->
          <!-- B4. Tạo ID ở hình ảnh để qua js link tới từng hình ảnh.
           -->
          <!-- <div class="content" id="bot1"><img src="../assets/images/clothes/topcloth1.png" alt=""></div> -->
          <div class="well">
            <!-- Tab panes ~ KHI ẤN VÀO MẪU NGƯỜI -->
            <div class="tab-content"></div>
          </div>
        </div>
        <!-- NHỮNG VỊ TRÍ TRÊN GIAO DIỆN -->
        <div class="col-md-4">
          <div class="contain">
            <div class="body">
            </div>
            <div class="model">
              <img src="" alt="" id="model">
            </div>
            <div class="hairstyle">
              <img src="" alt="" id="hairstyle">
            </div>
            <div class="necklace">
              <img src="" id="necklace" alt="">
            </div>
            <div class="bikinitop">
              <img src="" alt="" id="bikinitop">
            </div>
            <div class="bikinibottom">
              <img src="" alt="" id="bikinibottom">
            </div>
            <div class="handbag">
              <img src="" id="handbag" alt="">
            </div>
            <div class="feet"><img src="" alt="" id="feet"></div>
            <div class="background">
              <img src="" alt="" id="background">
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      
    </script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>

    <script src="./../models/ListChosen.js"></script>
    <script src="./../models/ChoseItem.js"></script>
    <script src="./../utils/callData.js"></script>
    <script src="./../controllers/main.js"></script>
  </body>
</html>
